In [18]:
import pandas as pd

In [19]:
path_aligned = "/home/ubuntu/iris_repos/llm_evaluation_thesis/analysis/computing scores/Qasa 8-70b/qasa_70b.csv"
df_aligned = pd.read_csv(path_aligned)
path_shuffled = "/home/ubuntu/iris_repos/llm_evaluation_thesis/analysis/computing scores/Qasa 8-70b/qasa_8b.csv"
df_shuffled = pd.read_csv(path_shuffled)

In [20]:
path_aligned_100 = "/home/ubuntu/iris_repos/llm_evaluation_thesis/analysis/computing scores/Qasa 8-70b/qasa_70b_100.csv"
df_aligned_100 = pd.read_csv(path_aligned_100)
path_shuffled_100 = "/home/ubuntu/iris_repos/llm_evaluation_thesis/analysis/computing scores/Qasa 8-70b/qasa_8b_100.csv"
df_shuffled_100 = pd.read_csv(path_shuffled_100)

In [21]:
df_aligned.rename(columns={'Chrfplus': 'ChrfPlus'}, inplace=True)

In [22]:
print(df_aligned.columns)
print(df_aligned.shape)
print(df_aligned.dtypes)
print("- - - - - - - - - - - - ")
print(df_shuffled.columns)
print(df_shuffled.shape)
print(df_shuffled.dtypes)

Index(['Unnamed: 0', 'question', 'correct_answer', 'context', 'answer_70b',
       'Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'ChrfPlus', 'Meteor',
       'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm'],
      dtype='object')
(1554, 17)
Unnamed: 0          int64
question           object
correct_answer     object
context            object
answer_70b         object
Rouge1            float64
Rouge2            float64
RougeL            float64
Bleu              float64
Chrf              float64
ChrfPlus          float64
Meteor            float64
Ter               float64
Bert              float64
WMS               float64
SMS               float64
Wisdm             float64
dtype: object
- - - - - - - - - - - -
Index(['Unnamed: 0', 'question', 'correct_answer', 'context', 'answer_8b',
       'Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'ChrfPlus', 'Meteor',
       'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm'],
      dtype='object')
(1554, 17)
Unnamed: 0          int64
question           object
correct_answer     object
context            object
answer_8b          object
Rouge1            float64
Rouge2            float64
RougeL            float64
Bleu              float64
Chrf              float64
ChrfPlus          float64
Meteor            float64
Ter               float64
Bert              float64
WMS               float64
SMS               float64
Wisdm             float64
dtype: object

In [23]:
print(df_aligned_100.columns)
print(df_aligned_100.shape)
print(df_shuffled_100.columns)
print(df_shuffled_100.shape)

Index(['Unnamed: 0.1', 'Unnamed: 0', 'question', 'correct_answer', 'context',
       'answer_70b', 'Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'Chrfplus',
       'Meteor', 'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm', 'Bart', 'BEM',
       'Prometheus', 'Consistency', 'TSim', 'Faithfullness', 'Relevancy',
       'Correctness', 'RSim', 'LLM', 'Bleurt'],
      dtype='object')
(100, 29)
Index(['Unnamed: 0.1', 'Unnamed: 0', 'question', 'correct_answer', 'context',
       'answer_8b', 'Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'ChrfPlus',
       'Meteor', 'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm', 'Bart', 'BEM',
       'Prometheus', 'Consistency', 'TSim', 'Faithfullness', 'Relevancy',
       'Correctness', 'RSim', 'LLM', 'Bleurt'],
      dtype='object')
(100, 29)

In [24]:
# List of metrics to compare
metrics = ['Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'ChrfPlus', 'Meteor', 
           'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm']

# Initialize a list to store the results
results = []

# Iterate over each metric
for metric in metrics:
    # Drop rows where either df_aligned or df_shuffled has NaN values for the metric
    valid_rows = df_aligned[metric].notna() & df_shuffled[metric].notna()
    
    # Filter the DataFrames to include only these valid rows
    aligned_valid = df_aligned[valid_rows]
    shuffled_valid = df_shuffled[valid_rows]
    
    # Compare the values row by row
    wins = (aligned_valid[metric] > shuffled_valid[metric]).sum()
    
    # Calculate the win rate
    win_rate = f"{wins} / {len(aligned_valid)}"
    
    # Calculate the win rate percentage
    win_rate_percentage = (wins / len(aligned_valid)) * 100
    
    # Append the result to the list
    results.append([metric, win_rate, win_rate_percentage])

# Convert the results to a DataFrame to display them neatly
win_rates_df = pd.DataFrame(results, columns=['Metric', 'Win Rate', 'Percentage (%)'])

In [25]:
win_rates_df

      Metric    Win Rate  Percentage (%)
0     Rouge1  285 / 1554       18.339768
1     Rouge2  207 / 1554       13.320463
2     RougeL  309 / 1554       19.884170
3       Bleu  267 / 1554       17.181467
4       Chrf  406 / 1554       26.126126
5   ChrfPlus  413 / 1554       26.576577
6     Meteor  295 / 1554       18.983269
7        Ter  205 / 1554       13.191763
8       Bert  385 / 1554       24.774775
9        WMS  584 / 1554       37.580438
10       SMS  398 / 1554       25.611326
11     Wisdm   241 / 798       30.200501

In [26]:
# List of metrics to compare
metrics_100 = ['BEM', 'Prometheus', 'Correctness', 'Consistency',
       'TSim', 'LLM', 'Faithfullness', 'Relevancy', 'RSim', 'Bart', 'Bleurt']

# Initialize a list to store the results
results_100 = []

# Iterate over each metric
for metric in metrics_100:
    # Drop rows where either df_aligned or df_shuffled has NaN values for the metric
    valid_rows = df_aligned_100[metric].notna() & df_shuffled_100[metric].notna()
    
    # Filter the DataFrames to include only these valid rows
    aligned_valid_100 = df_aligned_100[valid_rows]
    shuffled_valid_100 = df_shuffled_100[valid_rows]
    
    # Compare the values row by row
    wins = (aligned_valid_100[metric] > shuffled_valid_100[metric]).sum()
    
    # Calculate the win rate
    win_rate_100 = f"{wins} / {len(aligned_valid_100)}"
    
    # Calculate the win rate percentage
    win_rate_percentage_100 = (wins / len(aligned_valid_100)) * 100
    
    # Append the result to the list
    results_100.append([metric, win_rate_100, win_rate_percentage_100])

# Convert the results to a DataFrame to display them neatly
win_rates_df_100 = pd.DataFrame(results_100, columns=['Metric', 'Win Rate', 'Percentage (%)'])

In [27]:
win_rates_df_100

           Metric  Win Rate  Percentage (%)
0             BEM   33 / 99       33.333333
1      Prometheus  14 / 100       14.000000
2     Correctness   41 / 99       41.414141
3     Consistency  11 / 100       11.000000
4            TSim  15 / 100       15.000000
5             LLM  26 / 100       26.000000
6   Faithfullness    5 / 58        8.620690
7       Relevancy  34 / 100       34.000000
8            RSim  28 / 100       28.000000
9            Bart  31 / 100       31.000000
10         Bleurt   33 / 99       33.333333