In [7]:
import pandas as pd

In [8]:
path_aligned = "/home/ubuntu/iris_repos/llm_evaluation_thesis/analysis/computing scores/Qasper 8-70b/qasper_70b.csv"
df_aligned = pd.read_csv(path_aligned)
path_shuffled = "/home/ubuntu/iris_repos/llm_evaluation_thesis/analysis/computing scores/Qasper 8-70b/qasper_8b.csv"
df_shuffled = pd.read_csv(path_shuffled)

In [9]:
path_aligned_100 = "/home/ubuntu/iris_repos/llm_evaluation_thesis/analysis/computing scores/Qasper 8-70b/qasper_70b_100.csv"
df_aligned_100 = pd.read_csv(path_aligned_100)
path_shuffled_100 = "/home/ubuntu/iris_repos/llm_evaluation_thesis/analysis/computing scores/Qasper 8-70b/qasper_8b_100.csv"
df_shuffled_100 = pd.read_csv(path_shuffled_100)

In [10]:
print(df_aligned.columns)
print(df_aligned.shape)
print(df_aligned.dtypes)
print("- - - - - - - - - - - - ")
print(df_shuffled.columns)
print(df_shuffled.shape)
print(df_shuffled.dtypes)

Index(['Unnamed: 0', 'question', 'correct_answer', 'context', 'answer_70b',
       'Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'Chrfplus', 'Meteor',
       'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm'],
      dtype='object')
(705, 17)
Unnamed: 0          int64
question           object
correct_answer     object
context            object
answer_70b         object
Rouge1            float64
Rouge2            float64
RougeL            float64
Bleu              float64
Chrf              float64
Chrfplus          float64
Meteor            float64
Ter               float64
Bert              float64
WMS               float64
SMS               float64
Wisdm             float64
dtype: object
- - - - - - - - - - - -
Index(['Unnamed: 0', 'question', 'correct_answer', 'context', 'answer_8b',
       'Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'Chrfplus', 'Meteor',
       'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm'],
      dtype='object')
(705, 17)
Unnamed: 0          int64
question           object
correct_answer     object
context            object
answer_8b          object
Rouge1            float64
Rouge2            float64
RougeL            float64
Bleu              float64
Chrf              float64
Chrfplus          float64
Meteor            float64
Ter               float64
Bert              float64
WMS               float64
SMS               float64
Wisdm             float64
dtype: object

In [11]:
print(df_aligned_100.columns)
print(df_aligned_100.shape)
print(df_shuffled_100.columns)
print(df_shuffled_100.shape)

Index(['Unnamed: 0.1', 'Unnamed: 0', 'question', 'correct_answer', 'context',
       'answer_70b', 'Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'Chrfplus',
       'Meteor', 'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm', 'Bart', 'BEM',
       'Prometheus', 'Consistency', 'TSim', 'Faithfullness', 'Relevancy',
       'Correctness', 'RSim', 'LLM', 'Bleurt'],
      dtype='object')
(100, 29)
Index(['Unnamed: 0.1', 'Unnamed: 0', 'question', 'correct_answer', 'context',
       'answer_8b', 'Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'Chrfplus',
       'Meteor', 'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm', 'Bart', 'BEM',
       'Prometheus', 'Consistency', 'TSim', 'Faithfullness', 'Relevancy',
       'Correctness', 'RSim', 'LLM', 'Bleurt'],
      dtype='object')
(100, 29)

In [12]:
# List of metrics to compare
metrics = ['Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'Chrfplus', 'Meteor', 
           'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm']

# Initialize a list to store the results
results = []

# Iterate over each metric
for metric in metrics:
    # Drop rows where either df_aligned or df_shuffled has NaN values for the metric
    valid_rows = df_aligned[metric].notna() & df_shuffled[metric].notna()
    
    # Filter the DataFrames to include only these valid rows
    aligned_valid = df_aligned[valid_rows]
    shuffled_valid = df_shuffled[valid_rows]
    
    # Compare the values row by row
    wins = (aligned_valid[metric] > shuffled_valid[metric]).sum()
    
    # Calculate the win rate
    win_rate = f"{wins} / {len(aligned_valid)}"
    
    # Calculate the win rate percentage
    win_rate_percentage = (wins / len(aligned_valid)) * 100
    
    # Append the result to the list
    results.append([metric, win_rate, win_rate_percentage])

# Convert the results to a DataFrame to display them neatly
win_rates_df = pd.DataFrame(results, columns=['Metric', 'Win Rate', 'Percentage (%)'])

In [13]:
win_rates_df

      Metric   Win Rate  Percentage (%)
0     Rouge1   73 / 705       10.354610
1     Rouge2   44 / 705        6.241135
2     RougeL   76 / 705       10.780142
3       Bleu   52 / 705        7.375887
4       Chrf  147 / 705       20.851064
5   Chrfplus  120 / 705       17.021277
6     Meteor   76 / 705       10.780142
7        Ter   50 / 705        7.092199
8       Bert  123 / 705       17.446809
9        WMS  184 / 705       26.099291
10       SMS  129 / 705       18.297872
11     Wisdm   42 / 156       26.923077

In [14]:
# List of metrics to compare
metrics_100 = ['BEM', 'Prometheus', 'Correctness', 'Consistency',
       'TSim', 'LLM', 'Faithfullness', 'Relevancy', 'RSim', 'Bart', 'Bleurt']

# Initialize a list to store the results
results_100 = []

# Iterate over each metric
for metric in metrics_100:
    # Drop rows where either df_aligned or df_shuffled has NaN values for the metric
    valid_rows = df_aligned_100[metric].notna() & df_shuffled_100[metric].notna()
    
    # Filter the DataFrames to include only these valid rows
    aligned_valid_100 = df_aligned_100[valid_rows]
    shuffled_valid_100 = df_shuffled_100[valid_rows]
    
    # Compare the values row by row
    wins = (aligned_valid_100[metric] > shuffled_valid_100[metric]).sum()
    
    # Calculate the win rate
    win_rate_100 = f"{wins} / {len(aligned_valid_100)}"
    
    # Calculate the win rate percentage
    win_rate_percentage_100 = (wins / len(aligned_valid_100)) * 100
    
    # Append the result to the list
    results_100.append([metric, win_rate_100, win_rate_percentage_100])

# Convert the results to a DataFrame to display them neatly
win_rates_df_100 = pd.DataFrame(results_100, columns=['Metric', 'Win Rate', 'Percentage (%)'])

In [15]:
win_rates_df_100

           Metric  Win Rate  Percentage (%)
0             BEM  38 / 100       38.000000
1      Prometheus  15 / 100       15.000000
2     Correctness  42 / 100       42.000000
3     Consistency  11 / 100       11.000000
4            TSim  13 / 100       13.000000
5             LLM  20 / 100       20.000000
6   Faithfullness   10 / 53       18.867925
7       Relevancy  35 / 100       35.000000
8            RSim  36 / 100       36.000000
9            Bart  35 / 100       35.000000
10         Bleurt  38 / 100       38.000000