In [9]:
import pandas as pd

In [10]:
path_aligned = "/home/ubuntu/iris_repos/llm_evaluation_thesis/analysis/computing scores/FULL ALIGNED/qasper_aligned_iris.csv"
df_aligned = pd.read_csv(path_aligned)
path_shuffled = "/home/ubuntu/iris_repos/llm_evaluation_thesis/analysis/computing scores/FULL SHUFFLED/qasper_shuffled_iris.csv"
df_shuffled = pd.read_csv(path_shuffled)

In [11]:
path_aligned_100 = "/home/ubuntu/iris_repos/llm_evaluation_thesis/analysis/computing scores/FULL ALIGNED/qasper_aligned_iris_100.csv"
df_aligned_100 = pd.read_csv(path_aligned_100)
path_shuffled_100 = "/home/ubuntu/iris_repos/llm_evaluation_thesis/analysis/computing scores/FULL SHUFFLED/qasper_shuffled_iris_100.csv"
df_shuffled_100 = pd.read_csv(path_shuffled_100)

In [12]:
df_aligned['Wisdm'] = pd.to_numeric(df_aligned['Wisdm'], errors='coerce')

In [13]:
print(df_aligned.columns)
print(df_aligned.shape)
print(df_aligned.dtypes)
print("- - - - - - - - - - - - ")
print(df_shuffled.columns)
print(df_shuffled.shape)
print(df_shuffled.dtypes)

Index(['Unnamed: 0', 'question', 'context', 'correct_answer', 'iris_answer',
       'Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'ChrfPlus', 'Meteor',
       'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm', 'Bart', 'Faithfullness',
       'Relevancy', 'RSim'],
      dtype='object')
(968, 21)
Unnamed: 0          int64
question           object
context            object
correct_answer     object
iris_answer        object
Rouge1            float64
Rouge2            float64
RougeL            float64
Bleu              float64
Chrf              float64
ChrfPlus          float64
Meteor            float64
Ter               float64
Bert              float64
WMS               float64
SMS               float64
Wisdm             float64
Bart              float64
Faithfullness     float64
Relevancy         float64
RSim              float64
dtype: object
- - - - - - - - - - - -
Index(['Unnamed: 0', 'question', 'context', 'correct_answer', 'iris_answer',
       'Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'ChrfPlus', 'Meteor',
       'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm', 'Bart'],
      dtype='object')
(968, 18)
Unnamed: 0          int64
question           object
context            object
correct_answer     object
iris_answer        object
Rouge1            float64
Rouge2            float64
RougeL            float64
Bleu              float64
Chrf              float64
ChrfPlus          float64
Meteor            float64
Ter               float64
Bert              float64
WMS               float64
SMS               float64
Wisdm             float64
Bart              float64
dtype: object

In [14]:
df_shuffled_100.rename(columns={'Faithfullnes': 'Faithfullness'}, inplace=True)

In [15]:
print(df_aligned_100.columns)
print(df_aligned_100.shape)
print(df_shuffled_100.columns)
print(df_shuffled_100.shape)

Index(['Unnamed: 0', 'question', 'context', 'correct_answer', 'iris_answer',
       'Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'ChrfPlus', 'Meteor',
       'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm', 'Bleurt', 'BEM', 'Bart',
       'Prometheus', 'Faithfullness', 'Relevancy', 'Correctness', 'RSim',
       'Consistency', 'TSim', 'LLM'],
      dtype='object')
(100, 28)
Index(['Unnamed: 0', 'question', 'context', 'correct_answer', 'iris_answer',
       'Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'ChrfPlus', 'Meteor',
       'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm', 'Bleurt', 'BEM', 'Bart',
       'Prometheus', 'Faithfullness', 'Relevancy', 'Correctness', 'RSim',
       'Consistency', 'TSim', 'LLM'],
      dtype='object')
(100, 28)

In [16]:
# List of metrics to compare
metrics = ['Rouge1', 'Rouge2', 'RougeL', 'Bleu', 'Chrf', 'ChrfPlus', 'Meteor', 
           'Ter', 'Bert', 'WMS', 'SMS', 'Wisdm','Bart']

# Initialize a list to store the results
results = []

# Iterate over each metric
for metric in metrics:
    # Drop rows where either df_aligned or df_shuffled has NaN values for the metric
    valid_rows = df_aligned[metric].notna() & df_shuffled[metric].notna()
    
    # Filter the DataFrames to include only these valid rows
    aligned_valid = df_aligned[valid_rows]
    shuffled_valid = df_shuffled[valid_rows]
    
    # Compare the values row by row
    wins = (aligned_valid[metric] > shuffled_valid[metric]).sum()
    
    # Calculate the win rate
    win_rate = f"{wins} / {len(aligned_valid)}"
    
    # Calculate the win rate percentage
    win_rate_percentage = (wins / len(aligned_valid)) * 100
    
    # Append the result to the list
    results.append([metric, win_rate, win_rate_percentage])

# Convert the results to a DataFrame to display them neatly
win_rates_df = pd.DataFrame(results, columns=['Metric', 'Win Rate', 'Percentage (%)'])

In [17]:
win_rates_df

      Metric   Win Rate  Percentage (%)
0     Rouge1  470 / 931       50.483351
1     Rouge2  281 / 931       30.182599
2     RougeL  636 / 931       68.313641
3       Bleu  381 / 931       40.923738
4       Chrf  344 / 931       36.949517
5   ChrfPlus  351 / 931       37.701396
6     Meteor  712 / 931       76.476907
7        Ter  615 / 931       66.058002
8       Bert  825 / 931       88.614393
9        WMS  782 / 968       80.785124
10       SMS  894 / 968       92.355372
11     Wisdm  533 / 645       82.635659
12      Bart  743 / 968       76.756198

In [18]:
# List of metrics to compare
metrics_100 = ['BEM', 'Prometheus', 'Correctness', 'Consistency',
       'TSim', 'LLM', 'Faithfullness', 'Relevancy', 'RSim','Bleurt', ]

# Initialize a list to store the results
results_100 = []

# Iterate over each metric
for metric in metrics_100:
    # Drop rows where either df_aligned or df_shuffled has NaN values for the metric
    valid_rows = df_aligned_100[metric].notna() & df_shuffled_100[metric].notna()
    
    # Filter the DataFrames to include only these valid rows
    aligned_valid_100 = df_aligned_100[valid_rows]
    shuffled_valid_100 = df_shuffled_100[valid_rows]
    
    # Compare the values row by row
    wins = (aligned_valid_100[metric] > shuffled_valid_100[metric]).sum()
    
    # Calculate the win rate
    win_rate_100 = f"{wins} / {len(aligned_valid_100)}"
    
    # Calculate the win rate percentage
    win_rate_percentage_100 = (wins / len(aligned_valid_100)) * 100
    
    # Append the result to the list
    results_100.append([metric, win_rate_100, win_rate_percentage_100])

# Convert the results to a DataFrame to display them neatly
win_rates_df_100 = pd.DataFrame(results_100, columns=['Metric', 'Win Rate', 'Percentage (%)'])

In [19]:
win_rates_df_100

          Metric  Win Rate  Percentage (%)
0            BEM   92 / 98       93.877551
1     Prometheus  94 / 100       94.000000
2    Correctness   73 / 98       74.489796
3    Consistency  88 / 100       88.000000
4           TSim  88 / 100       88.000000
5            LLM   75 / 76       98.684211
6  Faithfullness   45 / 54       83.333333
7      Relevancy  95 / 100       95.000000
8           RSim  91 / 100       91.000000
9         Bleurt   94 / 98       95.918367